<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217599382834-kmpc0203qv0mhijbqo5i8io3t8qsjem4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217599382834-kmpc0203qv0mhijbqo5i8io3t8qsjem4</string>
	<key>API_KEY</key>
	<string>AIzaSyDZOWuvRx3AZIKoklTL3lz0DPaQR4im-rY</string>
	<key>GCM_SENDER_ID</key>
	<string>217599382834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.palaction.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>palestineaction-33e71</string>
	<key>STORAGE_BUCKET</key>
	<string>palestineaction-33e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217599382834:ios:67fd6380c8d1efa026332b</string>
</dict>
</plist>